// services sections styles
.services
    // Sub Title Styles
    .sub-title
        font:
          size: 14px
          weight: 300
        color: #565656
        text-align: center
        padding: 0 25px

    .flex-wrap
        display: flex
        flex-wrap: wrap
        justify-content: center
        margin: 20px auto
        text-align: center

        .flex-item
            margin: 0 20px
            padding: 20px

            img
                // image height reduced
                height: 60px
            
            p
                width: 174px

            // services icons
            .hotel
                background-image: url(../img/hotel.png)
                background-size: cover
                height: 60px
                width: 64px
                margin: 0 auto

            .big-ben
                background-image: url(../img/big-ben.png)
                background-size: cover
                height: 60px
                width: 27px
                margin: 0 auto

            .burger
                background-image: url(../img/hamburger.png)
                background-size: cover
                height: 60px
                width: 65px
                margin: 0 auto

            .tickets
                background-image: url(../img/ticket.png)
                background-size: cover
                height: 60px
                width: 63px
                margin: 0 auto

            .coffee
                background-image: url(../img/coffee-cup.png)
                background-size: cover
                height: 60px
                width: 55px
                margin: 0 auto

            .government
                background-image: url(../img/government.png)
                background-size: cover
                height: 60px
                width: 66px
                margin: 0 auto 
            
            // description text - main heading styles in base
            .services-text
                font:
                    size: 14px
                    weight: 300
                color: #565656
                margin: 0 auto
        
        // blue background on hover
        .flex-item:hover
            background-color: $accent-blue

        // White hotel image on hover
        .flex-item:hover .hotel
            background-image: url(../img/hotel-white.png)
        // White big ben image on hover
        .flex-item:hover .big-ben
            background-image: url(../img/big-ben-white.png)
        // White hamburger image on hover
        .flex-item:hover .burger
            background-image: url(../img/hamburger-white.png)
        // White ticket image on hover
        .flex-item:hover .tickets
            background-image: url(../img/ticket-white.png)
        // White coffee cup image on hover
        .flex-item:hover .coffee
            background-image: url(../img/coffee-cup-white.png)
        // White government image on hover
        .flex-item:hover .government
            background-image: url(../img/government-white.png)

        // White paragragh & title color on hover
        .flex-item:hover p
            color: white

        .flex-item:hover h3
            color: white     

// News Styles
.news
    padding-bottom: 20px
    
    // .bg-title
    //     position: absolute
    //     font:
    //         size: 288px
    //     color: #4A4A4A
    //     opacity: 0.09
    //     letter-spacing: 3.29px
    //     text-align: center
    //     margin: 0
    //     padding: 0 20px
    
    // Flex Wrap
    .news-wrap
        display: flex
        padding: 0 20px

    // News Items
    .news-item
        display: flex
        flex-direction: row
        height: 400px
        margin: 20px
        background-color: #fff
        box-shadow: 0px 2px 13px #CCCCCC
        width: 80%
        z-index: 1

        .news-text
            display: flex
            flex-direction: column
            flex-wrap: wrap
            justify-content: center
            padding: 0 20px 0 30px
            width: 100%

            h4
                font:
                    size: 24px
                    weight: 400
                margin: 0

    @media (max-width: 1080px)
        .news-wrap
            display: flex
            flex-wrap: wrap
            justify-content: center
        
        .news-item
            height: auto
            flex-wrap: wrap
            justify-content: center
            text-align: center
            padding: 0 30px

            img
                width: 400px
                margin: 30px 0
                box-shadow: 0px 2px 13px #CCCCCC

// About Section styles
.about
    background:
        image: url(../img/clouds-background.png)
        repeat: no-repeat
        size: cover
    // padding: 60px 0 0 0

    // Flex Wrap
    .about-flex
        display: flex
        flex-wrap: wrap
        justify-content: center
        padding: 0px 50px 50px 50px

        // Flex item
        .about-item
            margin: 20px 0
            padding: 20px
            vertical-align: center
            align-content: center

            h3
                font:
                    size: 30px
                    weight: 400
                margin: 0

            h3, p
                margin: 20px 0
                max-width: 460px


            img
                max-width: 460px
            
            // CTA button
            .trans-button
                border: 1px solid #000000
                border-radius: 100px
                height: 50px
                width: 255px
                text-transform: uppercase
                letter-spacing: 3px
                background-color: transparent

            // CTA button hover effect
            .trans-button:hover
                box-shadow: 0px 2px 13px #CCCCCC 
        
        @media (max-width: 1099px)
            // Algin all text center for mobiles
            .about-item
                text-align: center

            @media (max-width: 550px)
                    // Reduce london bridge image size 
                    img
                        width: 300px

            